#### just tying to look at the data frame

In [2]:
import pandas as pd
from datetime import datetime as dt 
from scipy import stats
import os
import requests

In [3]:
myJson = os.path.join('.', 'samples2.json')
df = pd.read_json(myJson)

In [4]:
df.head()

    id              ethnicity gender   age         location bbtype  wfreq
0  940              Caucasian      F  24.0      Beaufort/NC      I    2.0
1  941  Caucasian/Midleastern      F  34.0       Chicago/IL      I    1.0
2  943              Caucasian      F  49.0         Omaha/NE      I    1.0
3  944               European      M  44.0      NewHaven/CT      I    1.0
4  945              Caucasian      F  48.0  Philidelphia/PA      I    1.0

In [5]:
myJson = os.path.join('.', 'samples2.json')
df = pd.read_json(myJson)

In [6]:
url = 'https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.1/14-Interactive-Web-Visualizations/02-Homework/samples.json'

resp = requests.get(url, timeout=10,headers={'Content-Type': 'application/json'})
df2= pd.read_json(resp.text)

In [7]:
df2.head()

,names,metadata,samples
0,940,"{'id': 940, 'ethnicity': 'Caucasian', 'gender'...","{'id': '940', 'otu_ids': [1167, 2859, 482, 226..."
1,941,"{'id': 941, 'ethnicity': 'Caucasian/Midleaster...","{'id': '941', 'otu_ids': [2722, 944, 2419, 253..."
2,943,"{'id': 943, 'ethnicity': 'Caucasian', 'gender'...","{'id': '943', 'otu_ids': [1795], 'sample_value..."
3,944,"{'id': 944, 'ethnicity': 'European', 'gender':...","{'id': '944', 'otu_ids': [922, 3555, 943, 1013..."
4,945,"{'id': 945, 'ethnicity': 'Caucasian', 'gender'...","{'id': '945', 'otu_ids': [944, 1795, 922, 2419..."

In [8]:
metadata = df2.metadata.values.tolist()

In [9]:
df3=pd.DataFrame.from_dict(metadata)
df3.head()

    id              ethnicity gender   age         location bbtype  wfreq
0  940              Caucasian      F  24.0      Beaufort/NC      I    2.0
1  941  Caucasian/Midleastern      F  34.0       Chicago/IL      I    1.0
2  943              Caucasian      F  49.0         Omaha/NE      I    1.0
3  944               European      M  44.0      NewHaven/CT      I    1.0
4  945              Caucasian      F  48.0  Philidelphia/PA      I    1.0

In [10]:
myJson = os.path.join('.', 'metadata.json')
df3.to_json(myJson)

In [19]:
df3.head()

    id              ethnicity gender   age         location bbtype  wfreq
0  940              Caucasian      F  24.0      Beaufort/NC      I    2.0
1  941  Caucasian/Midleastern      F  34.0       Chicago/IL      I    1.0
2  943              Caucasian      F  49.0         Omaha/NE      I    1.0
3  944               European      M  44.0      NewHaven/CT      I    1.0
4  945              Caucasian      F  48.0  Philidelphia/PA      I    1.0

In [21]:
df3.dtypes

id             int64
ethnicity     object
gender        object
age          float64
location      object
bbtype        object
wfreq        float64
dtype: object